/* @font-face {
    font-family: 'GhostKid';
    src: url('./fonts/297PANIGhostKidDemo-Regular.ttf') format('truetype');
} */

@font-face {
    font-family: 'Sukhumvit';
    src: url('./fonts/ForFunBold-Regular.ttf') format('truetype');
}


.textfont {
    font-family: 'GhostKid';
}